$secondary-color: #ea5b08;
$font-color: #ffffff;
$shadow-color: 24262a;

.navbar {
    height: 3rem;
    width: 100%;
    box-shadow: 0px 5px 10px #24262a;
    display: flex;
    align-items: center;
  h3 {
    font-family: 'permanent marker';
    color: $secondary-color;
    margin-left: 0.5rem;
    padding: 0;
  }
  .icon-display {
    display: flex;
    margin-left: 84%;
    width: 40rem;
    justify-content: space-evenly;
  }
}

