<div class="navbar ui menu">
    <h3>
        <a routerLink="/" [ngStyle]="{'color': '#ea5b08', 'text-decoration': 'none'}">
            Uplink
        </a>
    </h3>
    <div [ngStyle]="{'color': 'white'}" class="icon-display">
        <a routerLink="/profile" [ngStyle]="{'color': 'white'}">
            <fa-icon class="ui icon button" 
            data-content="profile" 
            [icon]="faUser">
        </fa-icon>
        </a>
        <a routerLink="/login" [ngStyle]="{'color': 'white'}">
            <fa-icon [icon]="faRightToBracket">
            </fa-icon>
        </a>
        <fa-icon [icon]="faGear"></fa-icon>
    </div>
</div>
